@use './partials/variables' as *;
@use './partials/globals';
@use './partials/header';
@use './partials/footer';

@keyframes inputWrong {
    0% {
        transform: translateX(0.25rem);
    }
    25% {
        transform: translateX(-0.25rem);
    }
    50% {
        transform: translateX(0.25rem);
    }
    75% {
        transform: translateX(-0.25rem);
    }
    100% {
        transform: translateX(0rem);
    }
	
}

@keyframes inputMove {
    0% {
        transform: translateY(-12rem);
    }
    10% {
        transform: translateY(-11rem);
    }
    15% {
        transform: translateY(-8.5rem);
    }
    20% {
        transform: translateY(-5.5rem);
    }
    25% {
        transform: translateY(-2.5rem);
    }
    30% {
        transform: translateY(-0rem);
    }
    35% {
        transform: translateY(0rem);
    }
    40% {
        transform: translateY(0rem);
    }
    45% {
        transform: translateY(-2rem);
    }
    50% {
        transform: translateY(-2.5rem);
    }
    55% {
        transform: translateY(-2.5rem);
    }
    60% {
        transform: translateY(-2.3rem);
    }
    65% {
        transform: translateY(-1rem);
    }
    70% {
        transform: translateY(0rem);
    }
    75% {
        transform: translateY(0rem);
    }
    80% {
        transform: translateY(-0.5rem);
    }
    85% {
        transform: translateY(-0.85rem);
    }
    90% {
        transform: translateY(-1rem);
    }
    95% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
//styles
.hero{
	box-sizing: border-box; background-image: url("../assets/Images/hero-bio.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vw;
	max-width: 100%;
	position: relative;
	@include desktop(){
		max-height: 60rem;
	}

	&__cover{
		display:flex;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: rgba(50, 50, 50, 0.5);
	
			&__title{
				margin: 0;
				padding: 0 1rem;
				color:$white;
				@include mPageHeader();
				@include tablet(){
					padding: 0 2.25rem;
					@include dtPageHeader();
				}
				@include desktop(){
					padding: 0 5.438rem;
				}
			}
		}
	}

.mc{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	@include desktop(){
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__about{
		padding: 1.5rem 1rem 1rem 1rem;
		margin: 0;
		@include mSectionHeader();
		@include tablet(){
			padding: 3rem 2.25rem 2.25rem 2.25rem;
			@include dtSectionHeader();
		}
		@include desktop(){
			padding: 3rem 5.438rem 5.438rem 5.438rem;
			align-self: flex-start;
		}
	}

	&__img{
		margin: 0;
		padding: 0 1rem;
		width:100%;
		@include tablet(){
			padding: 0 3.75rem;
		}
		@include desktop(){
			padding: 0 6rem;
			max-height: 50rem;
			max-width: 90rem;
		}
		img{
			width:100%;
			max-height: 50rem;
			max-width: 90rem;
		}
	}
	&__quote{
		padding: 0 1rem;
		@include mSubHeader;
		@include tablet(){
			@include dtSubHeader;
			margin: 0;
			padding: 0 3.75rem;
		}
		@include desktop(){
			padding: 0 6rem;
			max-height: 50rem;
			max-width: 90rem;
		}

	}
	&__quote-owner{
		@include mSubHeader;
		@include tablet(){
			@include dtSubHeader;
			margin: 0;
		}
		@include desktop(){
			max-height: 50rem;
			max-width: 90rem;
		}

	}
	&__desc-title{
		margin:2rem 0 0 0;
		padding: 0 1rem;
		@include tablet(){
			@include dtSubHeader;
			padding: 2.25rem 3.75rem 0 3.75rem;
			margin:0;
		}
		@include desktop(){
			padding: 6rem 6rem 0 6rem;
			max-height: 50rem;
			max-width: 90rem;
		}

	}
	&__desc{
		padding: 0 1rem;
		display: flex;
		flex-flow:column;
		justify-content: space-between;
		@include mBodyCopy();

		@include tablet(){
			flex-flow: row wrap;
			margin: 0 2.25rem;
			padding: 0 1.5rem;
			@include dtBodyCopy;
		}
		@include desktop{
			margin: 0 auto;
			padding: 0 6rem;
			max-height: 50rem;
			max-width: 90rem;
		}
			&__p{
				width: 100%;
				@include tablet(){
					width:45%;
					margin:2.25rem 0;
				}
				@include desktop(){
					width: 40%;
				}
			}

	}
}

.gallery{
	padding:0 1rem;
	background-color: $alabaster;
	
	@include tablet(){
		padding: 0 2.25rem;
	}
	@include desktop(){
		padding: 0 5.438rem;

	}
	&__title{
		margin:0;
		padding: 1.5rem 1rem 1rem 0;
		@include mSectionHeader();
		@include tablet(){
			@include dtSectionHeader();
			padding: 3rem 2.25rem 2.25rem 0;
		}
		@include desktop(){
			padding: 3rem 5.438rem 2.25rem 0;
		}

	}
	&__photo{
		display:flex;
		flex-flow: row wrap;
		&__img{
			max-width:100%;
			height:auto;
			margin: 1rem 0;
			@include tablet(){
				max-width: 31.858%;
				margin:0 auto 1rem auto;
			}
			@include desktop(){
				max-width: 31%;
				margin:0 auto 2rem auto;
			}
		}
	}
}
.chat{
	padding: 0 1rem;
	@include tablet(){
			margin: 0 2.25rem;
			padding: 0 1.5rem;
	}
	@include desktop(){
		padding: 3rem 5.438rem 2.25rem 5.438rem;
		margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;

	}

	&__heading{
		@include mSectionHeader();
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		@include tablet(){
			@include dtSectionHeader();
			margin-top: 3rem;
			margin-bottom: 2rem;
		}
		@include desktop(){
			align-self: flex-start;
		}

	}

	&__user{
		display: flex;
		align-items: flex-end;
		box-sizing: border-box;
		margin: 0 auto 0 1rem auto;

		&__img{
			@include mProfilePicture();
			margin-right: 1rem;
			background-image: url("../assets/Images/Mohan-muruge.jpg");
			background-position:14% center;
			background-size: cover;
			background-repeat: no-repeat;
			@include tablet(){
				@include dtProfilePicture
			}
		}

		&__input-container{
			flex-grow: 1;

			& .chat__user__label{
				display:block;
				@include mLabelButtons();
				@include tablet(){
					@include dtLabelButtons();
				}
			}
			& .chat__user__input{
				@include mFormFieldBorderNeutral();
				width:100%;
				background-color: $alabaster;
				@include tablet(){
					@include dtFormFieldBorderNeutral();
				}
				@include desktop(){
					width: 45rem;
				}
			}
			& .chat__user__input--error{
				border-color: $borderError;
				animation-name: inputWrong;
				animation-duration: 550ms;
				animation-timing-function: ease-in;
			}
			& .chat__user__input:focus{
				outline-color: $bsBlack;
			}
		}
	}
	&__comment{
			padding-left: 3.25rem;
			display: flex;
			justify-content: flex-end; 
			@include tablet(){
				padding-left: 4rem;
			}
			@include desktop(){
				width: 49rem;
			}
			
		&__input-container{
				flex-grow: 1;
			@include tablet(){
				display:flex;
				flex-direction: column;
			}


		
			& .chat__comment__label{
				@include mLabelButtons();
				display:block;
				margin-top: 1rem;
				@include tablet(){
					@include dtLabelButtons();
					margin-top: 1.5rem
				}
			}
			& .chat__comment__txtarea{
				font-family: 'avenir';
				@include mFormFieldBorderNeutral();
				width:100%;
				height:10rem;
				background-color: $alabaster;
				margin-bottom: 1rem;
				resize: none;
				@include tablet(){
					height:8rem;
					@include dtFormFieldBorderNeutral();
				}
			}
			& .chat__comment__txtarea--error{
				border-color: $borderError;
				animation-name: inputWrong;
				animation-duration: 550ms;
				animation-timing-function: ease-in;
			}
			& .chat__comment__txtarea:focus{
				outline-color: $bsBlack;
			}
			& .chat__comment__btn{
				@include mBtnProperties();
				outline: none;
				border: none;
				cursor: pointer;
				@include tablet(){
					@include dtBtnProperties();
					width:20%;
					align-self:flex-end;
				}
			}
			& .chat__comment__btn:hover{
				background-color: $bsDblack;
			}
		}
	}
	& .chat__post-parent{
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column-reverse;
		transition:height 200ms;
		@include tablet(){
			margin-bottom:2.25rem;
		}
		@include desktop(){
			width:49rem;
		}

			& .chat__post{
				display: flex;
				flex-direction: row;
				border-top: 0.0625rem solid $mercury;
				margin-top: 1rem;
				animation-name: inputMove;
				animation-duration: 550ms;
				animation-timing-function: cubic-bezier(0.31,-0.48, 0.52, 1.18);
				@include tablet(){
					margin-top:	2.25rem;
				}

					&__img{
					@include mProfilePicture();
					margin-right: 1rem;
					margin-top: 0.5rem;
					@include tablet(){
						@include dtProfilePicture();
						}
					}
			
					&__cont{
						flex-grow: 1;
						&__user{
								display:flex;
								justify-content: space-between;
								align-items: center;
								&__name{
									@include mSubHeader();
									@include tablet(){
										@include dtSubHeader();
									}
								}
								&__time{
									@include mBodyCopy();
									color: $mercury;
									@include tablet(){
										@include dtBodyCopy();
									}
								}
							}
						}
						&__comment{
							@include mBodyCopy();
							color: $bsBlack;
							margin-bottom: 1rem;
							@include tablet(){
								margin-bottom: 2rem;
								@include dtBodyCopy();
							}
						}
					}
	}
}

