@keyframes inputWrong {
  0% {
    transform: translateX(0.25rem);
  }
  25% {
    transform: translateX(-0.25rem);
  }
  50% {
    transform: translateX(0.25rem);
  }
  75% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes inputMove {
  0% {
    transform: translateY(-12rem);
  }
  10% {
    transform: translateY(-11rem);
  }
  15% {
    transform: translateY(-8.5rem);
  }
  20% {
    transform: translateY(-5.5rem);
  }
  25% {
    transform: translateY(-2.5rem);
  }
  30% {
    transform: translateY(0rem);
  }
  35% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(0rem);
  }
  45% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  55% {
    transform: translateY(-2.5rem);
  }
  60% {
    transform: translateY(-2.3rem);
  }
  65% {
    transform: translateY(-1rem);
  }
  70% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  85% {
    transform: translateY(-0.85rem);
  }
  90% {
    transform: translateY(-1rem);
  }
  95% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "avenir";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hd {
  background-color: #323232;
  align-items: center;
  width: 100%;
}
.hd__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .hd__nav {
    display: flex;
    flex-direction: row;
    padding: 0 2.25rem;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .hd__nav {
    margin: 0 auto;
    padding: 0 5.438rem;
  }
}
.hd__nav__logo {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .hd__nav__logo {
    margin: 1rem 0;
  }
}
.hd__nav__pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .hd__nav__pages {
    justify-content: flex-start;
    width: 25%;
    align-items: center;
    margin: 0 2rem;
  }
}
.hd__nav__pages__link {
  text-decoration: none;
  color: #AFAFAF;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hd__nav__pages__link {
    margin: 0;
    flex-grow: 0;
    text-align: left;
    margin-right: 2rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.hd__nav__pages__link--active {
  color: #FFFFFF;
}
.hd__nav__pages__underline {
  position: absolute;
  background-color: #FFFFFF;
  height: 0.25rem;
  top: 3.45rem;
  width: 50%;
  z-index: 0;
  transition: all 450ms ease 0ms;
}
@media (min-width: 768px) {
  .hd__nav__pages__underline {
    height: 0.25rem;
    top: 3.2rem;
    left: 11.5;
    width: 3.7rem;
  }
}
@media (min-width: 1280px) {
  .hd__nav__pages__underline {
    width: 3.25rem;
    left: 14.5rem;
  }
}
.hd__nav__pages__link:nth-child(1) {
  width: 50%;
}
@media (min-width: 768px) {
  .hd__nav__pages__link:nth-child(1) {
    width: 3.7rem;
  }
}
@media (min-width: 1280px) {
  .hd__nav__pages__link:nth-child(1) {
    width: 3.25rem;
  }
}
.hd__nav__pages__link:nth-child(1):hover ~ .hd__nav__pages__underline {
  width: 50%;
  left: 0;
}
@media (min-width: 768px) {
  .hd__nav__pages__link:nth-child(1):hover ~ .hd__nav__pages__underline {
    width: 3.45rem;
    left: 11.5rem;
  }
}
@media (min-width: 1280px) {
  .hd__nav__pages__link:nth-child(1):hover ~ .hd__nav__pages__underline {
    width: 3.25rem;
    left: 14.5rem;
  }
}
.hd__nav__pages__link:nth-child(2) {
  width: 50%;
}
@media (min-width: 768px) {
  .hd__nav__pages__link:nth-child(2) {
    width: 3.45rem;
  }
}
@media (min-width: 1280px) {
  .hd__nav__pages__link:nth-child(2) {
    left: 14.5rem;
  }
}
.hd__nav__pages__link:nth-child(2):hover ~ .hd__nav__pages__underline {
  width: 50%;
  transform: translateX(100%);
  left: 0;
}
@media (min-width: 768px) {
  .hd__nav__pages__link:nth-child(2):hover ~ .hd__nav__pages__underline {
    width: 3.7rem;
    left: 11.5rem;
    transform: translateX(5rem);
  }
}
@media (min-width: 1280px) {
  .hd__nav__pages__link:nth-child(2):hover ~ .hd__nav__pages__underline {
    width: 3.1rem;
    left: 14.5rem;
    transform: translateX(5rem);
  }
}
.hd__nav__pages__link:hover {
  color: #FFFFFF;
}

footer {
  background-color: #323232;
  padding: 0 1rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  footer {
    padding: 0 2.25rem;
  }
}
footer .ft {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
}
@media (min-width: 768px) {
  footer .ft {
    flex-flow: row wrap;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  footer .ft {
    padding: 0 5.438rem;
  }
}
footer .ft__social {
  display: flex;
  margin: 0;
  padding: 1.5rem 1rem 1rem 0;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  footer .ft__social {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    justify-content: flex-start;
    width: 30%;
    order: 0;
  }
}
@media (min-width: 1280px) {
  footer .ft__social {
    width: 25%;
  }
}
footer .ft__icon {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  footer .ft__icon {
    justify-content: center;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  footer .ft__icon {
    justify-content: flex-start;
  }
}
footer .ft__icon__img {
  margin-right: 1rem;
}
@media (min-width: 768px) {
  footer .ft__icon__img {
    margin-right: 3rem;
    order: 2;
  }
}
@media (min-width: 768px) {
  footer .ft__info {
    display: flex;
    order: 2;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  footer .ft__info {
    justify-content: flex-start;
    width: 74%;
  }
}
footer .ft__info__bl {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer .ft__info__bl {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  footer .ft__info__bl {
    margin-right: auto;
  }
}
footer .ft__info__bl__label {
  padding: 1rem 0;
  margin: 0;
}
footer .ft__info__bl__label__p {
  margin: 0;
}
footer .ft__info__bl__location {
  margin: 0;
}
footer .ft__info__bl__location__p {
  margin: 0;
}
footer .ft__info__bl__email__text {
  text-decoration: none;
  color: #FFFFFF;
}
footer .ft__logo {
  max-height: 1.25rem;
  padding: 0;
  align-self: flex-start;
  margin: 3rem 100% 1rem 0;
  width: 100%;
}
@media (min-width: 768px) {
  footer .ft__logo {
    width: auto;
    order: 1;
    margin: 0 0 0 auto;
    align-self: center;
  }
}
footer .ft__copyright {
  margin: 0 0 1rem 0;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer .ft__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 2.25rem auto 2.25rem 0;
    order: 3;
    width: 100%;
  }
}

.hero {
  box-sizing: border-box;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
  max-width: 100%;
  position: relative;
}
@media (min-width: 1280px) {
  .hero {
    max-height: 60rem;
  }
}
.hero__cover {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__cover__title {
  margin: 0;
  padding: 0 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__cover__title {
    padding: 0 2.25rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__cover__title {
    padding: 0 5.438rem;
  }
}

.mc {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  .mc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mc__about {
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .mc__about {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .mc__about {
    padding: 3rem 5.438rem 5.438rem 5.438rem;
    align-self: flex-start;
  }
}
.mc__img {
  margin: 0;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .mc__img {
    padding: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .mc__img {
    padding: 0 6rem;
    max-height: 50rem;
    max-width: 90rem;
  }
}
.mc__img img {
  width: 100%;
  max-height: 50rem;
  max-width: 90rem;
}
.mc__quote {
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .mc__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .mc__quote {
    padding: 0 6rem;
    max-height: 50rem;
    max-width: 90rem;
  }
}
.mc__quote-owner {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .mc__quote-owner {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .mc__quote-owner {
    max-height: 50rem;
    max-width: 90rem;
  }
}
.mc__desc-title {
  margin: 2rem 0 0 0;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .mc__desc-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2.25rem 3.75rem 0 3.75rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .mc__desc-title {
    padding: 6rem 6rem 0 6rem;
    max-height: 50rem;
    max-width: 90rem;
  }
}
.mc__desc {
  padding: 0 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .mc__desc {
    flex-flow: row wrap;
    margin: 0 2.25rem;
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .mc__desc {
    margin: 0 auto;
    padding: 0 6rem;
    max-height: 50rem;
    max-width: 90rem;
  }
}
.mc__desc__p {
  width: 100%;
}
@media (min-width: 768px) {
  .mc__desc__p {
    width: 45%;
    margin: 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .mc__desc__p {
    width: 40%;
  }
}

.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 5.438rem;
  }
}
.gallery__title {
  margin: 0;
  padding: 1.5rem 1rem 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 3rem 5.438rem 2.25rem 0;
  }
}
.gallery__photo {
  display: flex;
  flex-flow: row wrap;
}
.gallery__photo__img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .gallery__photo__img {
    max-width: 31.858%;
    margin: 0 auto 1rem auto;
  }
}
@media (min-width: 1280px) {
  .gallery__photo__img {
    max-width: 31%;
    margin: 0 auto 2rem auto;
  }
}

.chat {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .chat {
    margin: 0 2.25rem;
    padding: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .chat {
    padding: 3rem 5.438rem 2.25rem 5.438rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.chat__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .chat__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .chat__heading {
    align-self: flex-start;
  }
}
.chat__user {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  margin: 0 auto 0 1rem auto;
}
.chat__user__img {
  min-height: 2.25rem;
  min-width: 2.25rem;
  max-height: 2.25rem;
  max-width: 2.25rem;
  background-color: #E1E1E1;
  border-radius: 50%;
  margin-right: 1rem;
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-position: 14% center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .chat__user__img {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    background-color: #E1E1E1;
    border-radius: 50%;
  }
}
.chat__user__input-container {
  flex-grow: 1;
}
.chat__user__input-container .chat__user__label {
  display: block;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .chat__user__input-container .chat__user__label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.chat__user__input-container .chat__user__input {
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.25rem;
  min-height: 2rem;
  max-width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  width: 100%;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .chat__user__input-container .chat__user__input {
    border: 0.0625rem solid #E1E1E1;
    border-radius: 0.25rem;
    min-height: 3.5rem;
    max-width: 100%;
    padding: 1rem;
    margin-top: 0.25rem;
  }
}
@media (min-width: 1280px) {
  .chat__user__input-container .chat__user__input {
    width: 45rem;
  }
}
.chat__user__input-container .chat__user__input--error {
  border-color: #D22D2D;
  animation-name: inputWrong;
  animation-duration: 550ms;
  animation-timing-function: ease-in;
}
.chat__user__input-container .chat__user__input:focus {
  outline-color: #323232;
}
.chat__comment {
  padding-left: 3.25rem;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .chat__comment {
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .chat__comment {
    width: 49rem;
  }
}
.chat__comment__input-container {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .chat__comment__input-container {
    display: flex;
    flex-direction: column;
  }
}
.chat__comment__input-container .chat__comment__label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  display: block;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .chat__comment__input-container .chat__comment__label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }
}
.chat__comment__input-container .chat__comment__txtarea {
  font-family: "avenir";
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.25rem;
  min-height: 2rem;
  max-width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  width: 100%;
  height: 10rem;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
  resize: none;
}
@media (min-width: 768px) {
  .chat__comment__input-container .chat__comment__txtarea {
    height: 8rem;
    border: 0.0625rem solid #E1E1E1;
    border-radius: 0.25rem;
    min-height: 3.5rem;
    max-width: 100%;
    padding: 1rem;
    margin-top: 0.25rem;
  }
}
.chat__comment__input-container .chat__comment__txtarea--error {
  border-color: #D22D2D;
  animation-name: inputWrong;
  animation-duration: 550ms;
  animation-timing-function: ease-in;
}
.chat__comment__input-container .chat__comment__txtarea:focus {
  outline-color: #323232;
}
.chat__comment__input-container .chat__comment__btn {
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
  background-color: #323232;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .chat__comment__input-container .chat__comment__btn {
    height: 2.5rem;
    min-width: 9.375rem;
    padding: 0 2rem;
    border-radius: 0.25rem;
    color: #FFFFFF;
    background-color: #323232;
    width: 100%;
    width: 20%;
    align-self: flex-end;
  }
}
.chat__comment__input-container .chat__comment__btn:hover {
  background-color: #000000;
}
.chat .chat__post-parent {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  transition: height 200ms;
}
@media (min-width: 768px) {
  .chat .chat__post-parent {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .chat .chat__post-parent {
    width: 49rem;
  }
}
.chat .chat__post-parent .chat__post {
  display: flex;
  flex-direction: row;
  border-top: 0.0625rem solid #E1E1E1;
  margin-top: 1rem;
  animation-name: inputMove;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.31, -0.48, 0.52, 1.18);
}
@media (min-width: 768px) {
  .chat .chat__post-parent .chat__post {
    margin-top: 2.25rem;
  }
}
.chat .chat__post-parent .chat__post__img {
  min-height: 2.25rem;
  min-width: 2.25rem;
  max-height: 2.25rem;
  max-width: 2.25rem;
  background-color: #E1E1E1;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .chat .chat__post-parent .chat__post__img {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    background-color: #E1E1E1;
    border-radius: 50%;
  }
}
.chat .chat__post-parent .chat__post__cont {
  flex-grow: 1;
}
.chat .chat__post-parent .chat__post__cont__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat .chat__post-parent .chat__post__cont__user__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .chat .chat__post-parent .chat__post__cont__user__name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.chat .chat__post-parent .chat__post__cont__user__time {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .chat .chat__post-parent .chat__post__cont__user__time {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.chat .chat__post-parent .chat__post__comment {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .chat .chat__post-parent .chat__post__comment {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.chat .chat__post-parent .chat__post .chat__post__cont__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat .chat__post-parent .chat__post .chat__post__cont__bot__like {
  display: flex;
}
.chat .chat__post-parent .chat__post .chat__post__cont__bot__like__count {
  margin: 0.25rem 0.25rem 0 0;
}
.chat .chat__post-parent .chat__post .chat__post__cont__bot__like-icon {
  cursor: pointer;
}
.chat .chat__post-parent .chat__post .chat__post__cont__bot__delete-icon {
  cursor: pointer;
}

/*# sourceMappingURL=bio.css.map */
